body {
    background-color: #233D4D;
}

#lightText {
    color: rgb(185, 185, 185);
}

#homeNav {
    border-bottom: 2px solid #fe7f2d;
}

#contactMeNav {
    color: #fe7f2d;
    border-color: #fe7f2d;
}

#contactMeNav:hover {
    background-color: #fe7f2d;
    color: white;
}

#img1 {
    border-radius: 10%;
    max-width: 80%;
}

#mainText {
    margin: auto;
}

#mainH1 {
    color: rgb(49, 49, 49);
}

#mainP {
    color: rgb(61, 61, 61);
}

#carouselSlide {
    padding: 0 4em;
}

#section1 {
    padding: 2vw 0;
    background-color: rgb(235, 235, 235);
}

#section2 {
    padding: 2em 0;
}