body {
    background-color: #233D4D;
}

#mainNav {
    background-color: #233D4D;
}

#homeNav {
    border-bottom: 2px solid #fe7f2d;
}

#contactMeNav {
    color: #fe7f2d;
    border-color: #fe7f2d;
}

#contactMeNav:hover {
    background-color: #fe7f2d;
    color: white;
}

#img1 {
    border-radius: 10%;
    max-width: 80%;
}

#mainText {
    margin: auto;
}

#mainH1 {
    color: rgb(49, 49, 49);
}

#mainP {
    color: rgb(61, 61, 61);
}

#section1 {
    padding: 2vw 0;
    background-color: white;
}

#section1IMG {
    padding: 2em 0;
    padding-right: 2em;
    border-radius: 20%;
}

#mainIMG {
    border-radius: 2.5%;
}

#section2 {
    padding: 2em 0;
    border-bottom: 2px solid #fe7f2d;
}

#heading2 {
    color: white;
    text-align: center;
    margin-bottom: 2em;
    border-bottom: 2px solid #fe7f2d;
}

#cards {
    margin-bottom: 2em;
}

#section3 {
    background-color: white;
    text-align: center;
    margin-bottom: 2em;
}

#heading3 {
    margin-bottom: 2em;
    padding-top: 2em;
    border-bottom: 2px solid #fe7f2d;
}

#footer {
    color: white;
}